<!DOCTYPE html> <!--This is the document type, html, which is at the top of every doc to determine what type of doc it is. -->
<html lang="en"> <!--This is the language the html file is in. It is english. -->
<head>
    <meta charset="UTF-8">
    <title>About Lily Mushlin!</title>
</head>
<body>
    <h1><strong>Welcome!</strong></h1>
    <h2><strong>My Background:</strong></h2>
    <p>I grew up in Boca Raton Florida for my entire life. I have always been <em>extremely</em> active, playing many sports and doing many activities. I also <em>love</em> listening to music, it makes me very happy. I can play some guitar, although I haven't practiced in a while. I have <em>always</em> wanted to have my own business and when I was younger, I attempted to sell rocks I collected from hikes in the mountains online along with attempting to create a Wix website. I like making money and attempting new things even if it fails.</p>
    <p>My favorite sports I played growing up in order:</p>
            <ol>
                <li>Track and Running</li>
                <li>Soccer</li>
                <li>Gymnastics</li>
                <li>Karate</li>
            </ol>

    <p>My favorite music to listen to:</p>
            <ul>
                <li>Country</li>
                <li>Rock</li>
                <li>80s/90s</li>
                <li>Indie/Folk</li>
            </ul>
    <p>I will listen to basically anything but current rap!</p>
    <h2><strong>My Life Now:</strong></h2>
        <p>I currently go to school at the <em>University of Maryland</em>, majoring in Business Management and Information Systems. I am in the +1 Masters Program, and I am currently in progress applying to the masters program for Information Systems.</p>

    <h2><strong>My Future Goals:</strong></h2>
        <p>I am currently working on building a fitness app right now from the ground up. I hope that in the future, I am able to put this app on the app store and have it as a side job, building a business from all my aspired goals written down. I also hope to have a good paying job supporting my future family and expensive habits.</p>

    <p>Undergraduate Courses I am currently taking:</p>
    <table>
        <tr>
            <th>Course</th>
            <th>Semester Taken</th>
        </tr>
        <tr>
            <th>BMGT407</th>
            <th>Fall 2026</th>
        </tr>
        <tr>
            <th>BMGT363</th>
            <th>Fall 2026</th>
        </tr>
    </table>
    <!--These are links to websites that open a separate browser -->
    <p>This is a link to <a href="pythonanywhere.com/hello" target="_blank">my very first HTML!</a></p>
    <p>This is a link to <a href="netflix.com/browse" target="_blank">Netflix, where I watch shows and movies sometimes :)</a></p>
    <p>This is a link to<a href="https://boredbutton.com" target="_blank">a website for if you are <em>extremely</em> bored, and desperate enough, you can click a button and play games you normally would not!</a></p>

    <p>Here is a picture of the Smith Logo for my School.</p>
<img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
     width="267" height="72" alt="Smith Logo">

</body>
</html>